
body {
  font-family: sans-serif;
}

#drop-zone {
  text-align: center;
}

#drop-zone .help-label {
  visibility: hidden;
  display: inline-block;
  margin: 0 auto;
  color: #999;
  margin: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

#drop-zone.drop-target {
  border: 3px dashed silver;
  background: #eee;
}

#drop-zone.drop-target .help-label {
  visibility: visible;
}

#drop-zone.dropping {
  background: white;
  border: 3px dashed red;
}

#drop-zone.dropping .help-label {
  visibility: hidden;
}

.file, .folder {
  background-color: white;
  box-shadow: 3px 3px 10px white inset;
}

.file.invisible, .folder.invisible {
  background-color: #cce;
  box-shadow: 3px 3px 10px #cce inset;
  /* display: none; */
}

.file > header, .folder > header {
  font-family: monospace;
  cursor: default;
}

.folder > summary {
  font-weight: bold;
}

.folder-children {
  display: none;
}

.open > .folder-children {
  display: block;
}

.folder > header::before, .file > header::before {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 1em;
  content: "\a0";
}

.folder > header::before {
  content: "\25B6";
}

.folder.open > header::before {
  content: "\25BC";
}

.loading {
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(0,0,128, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0,0,128, 0.1) 50%,
    rgba(0,0,128, 0.1) 75%,
    transparent 75%,
    transparent
  );
  animation: animate-stripes 3s linear infinite;             
  background-attachment: fixed;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 60px;}
}

.folder-children {
  min-height: 0.5em;
  background: white;
  margin-left: 1em;
}

.download {
  visibility: hidden;
  text-decoration: none;
}

.file:hover > header .download {
  visibility: hidden;
}
