
* {
  font-family: sans-serif;
}

#drop-zone {
  height: 5ex;
  text-align: center;
}

#drop-zone .help-label {
  visibility: hidden;
  display: inline-block;
  margin: 0 auto;
}

#drop-zone.drop-target {
  border: 3px dashed silver;
  background: #ddd;
}

#drop-zone.drop-target .help-label {
  visibility: visible;
}

#drop-zone.dropping {
  background: white;
  border: 3px dashed red;
}

#drop-zone.dropping .help-label {
  visibility: hidden;
}
